<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>20191021-動態長條圖(Vue)</title>
<link rel="stylesheet" href="./style.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<body>
<!-- partial:index.partial.html -->

<div class="center">
  <div class="graph" id="app">
    <div class="bar" v-for="data in datas" :style="gen_style(data.value)"><span class="text">{{data.value}}</span></div>
    <div class="form">
      <div class="autobutton">
        <input class="auto" type="checkbox" id="checkbox" v-model="checked" @click="auto(checkbox.checked)">
        <label>Auto_Run</label>
      </div>
      <div class="div" v-for="(data,i) in datas">
        <label>{{i}}</label>
        <input class="number" v-model="data.value" type="number">
      </div>
    </div>
  </div>
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script  src="./script.js"></script>

</body>
</html>